.App {
  text-align: center;
  padding: 10px 10px 10px 10px;
}

body {
  background-color: #eeebeb;
}

.header {
  width: 100%;
  height: 100px;
  text-align: left;
  background-color: #0654b4;
  padding-left: 35px;
  padding-top: 20px;
  padding-bottom: 25px;
  /* font: 40px; */
  text-align: left;
}

.logo {
  width: auto;
  height: 100px;
}