.ui.centered.card {
    /* align-items: center; */
    margin-top: 50px;
    /* margin-left: auto; */
    /* margin-right: auto;    */
}

.ui.blue.card {
    text-align: center;
    width: 450px;
}

.header {
    padding-top: 15px;
    /* padding-bottom: 15px; */
}

.description {
    padding-bottom: 15px;
}

.meta {
    padding-bottom: 15px;
}

.error-message {
    padding: 0 16px;
    color: tomato;
}

.success-message {
    padding: 0 16px;
    color: green;
}